# Python cache
__pycache__/
*.pyc

# Database
db.sqlite3

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Media files (optional)
media/data.json
django_backup.json
ecommerce_backup.sql
ecommerce_backup.sql
data.json
